<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
   <div>
     <form  action="/tcyi/ptcyi" method="post" >
      <table  border=2  width="960px" height="600px">
          <tr>
             <td>队员1姓名:</td>
             <td><input type="text" name="name1"/></td>
             <td>手机:</td>
             <td><input type="text" name="phone1"/></td>
          </tr>
          <tr>
             <td>队员2姓名:</td>
             <td><input type="text" name="name2"/></td>
             <td>手机:</td>
             <td><input type="text" name="phone2"/></td>
          </tr>
          <tr>
             <td>队员3姓名:</td>
             <td><input type="text" name="name3"/></td>
             <td>手机:</td>
             <td><input type="text" name="phone3"/></td>
          </tr>
          <tr>
             <td>队员4姓名:</td>
             <td><input type="text" name="name4"/></td>
             <td>手机:</td>
             <td><input type="text" name="phone4"/></td>
          </tr>
          <tr>
             <td>队员5姓名:</td>
             <td><input type="text" name="name5"/></td>
             <td>手机:</td>
             <td><input type="text" name="phone5"/></td>
          </tr>
          <tr>
             <td>队员6姓名:</td>
             <td><input type="text" name="name6"/></td>
             <td>手机:</td>
             <td><input type="text" name="phone6"/></td>
          </tr>
          <tr>
             <td>作品名称:</td>
             <td><input type="text" name="title"/></td>
          </tr>
          <tr>
             <td>指导老师:</td>
             <td><input type="text" name="teacher"/></td>
          </tr>
          <tr>
             <td>老师手机:</td>
             <td><input type="text" name="tphone"/></td>
          </tr>
          <tr>
             <td>js:</td>
             <td><input type="textarea" name="cybj"/></td>
          </tr>
          <tr>
             <td>cx:</td>
             <td><input type="textarea" name="sjwt"/></td>
          </tr>
          <tr>
             <td>kx:</td>
             <td><input type="textarea" name="kxls"/></td>
          </tr>
          <tr>
             <td>附件:</td>
             <td><input type="text" name="fuji"/></td>
          </tr>
          <tr>
             <td><input type="submit" value="提交"/></td>
          </tr>
      </table>
      </form>
   </div>
</body>
</html>