<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>B_Booking</title>
<link th:href="@{/css/whir_common.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/css/whir_home.css}" rel="stylesheet" type="text/css" />
<script type="text/javascript" th:src="@{/js/jquery1.42.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.SuperSlide.2.1.1.js}"></script>

<script  type="text/javascript">
        window.moveTo(-4,-4);
        window.resizeTo(screen.availWidth,screen.availHeight);
</script>


</head>
<body>
<!--头部-->
<div class="head">
<div class="headm">
<!--登陆后显示会员-->
<div class="member"><div class="huiyuan">
      <ul>
       <!-- <li class="hy1"><a href="#">会员</a></li> -->
	   <li class="hy2"><a href="javascript:void(0);" onclick="showA();">注册</a></li>
	   </ul>		  				  <!--注册登录隐藏--->
	  <div id="pop" class="pop" style="display:none"> 
<div class="pop_head"><a href="javascript:void(0);" onclick="hideA()">关闭</a></div> 
<div class="pop_body">
<h1>用户注册</h1>
<div class="zhuce">
<input type="text" class="inputl" value="请输入真实邮箱" onFocus="this.value='';" onBlur="if(this.value==''){this.value='请输入真实邮箱';}" />
<input type="text" class="inputr" value="请输入用户名" onFocus="this.value='';" onBlur="if(this.value==''){this.value='请输入用户名';}" />
<input type="password" class="inputb" value="请输入密码" onFocus="this.value='';" onBlur="if(this.value==''){this.value='请输入密码';}" />
<div class="dlk"><a href="#" class="regist">注册</a><a href="#" class="login">返回登录</a></div>
</div>
</div> 
</div> </div></div>


<!--快捷导航-->
<div class="kjnav">
<ul>
<li class="navli1"><a href="#">进入小程序</a></li>
<!-- <li class="navli2"><a href="#">收藏我们</a></li> -->
<li class="navli3"><a href="#">新手引导</a></li>
</ul>
</div>
</div>
</div>
<div id="header">
  <div class="top">
    <div class="topmain">
      <div class="searchbox">
        <div class="so_so">
          <div class="logo"><a href="#" title="目课网"><img th:src="@{/images/logo.jpg}"  width="230px"  height="100px" alt="目课网"></a></div>
          <div class="mk_so">
            <input type="text" class="input"  name=""/>
			<select class="selectinput">
			   <option value="美食">美食</option>
			   <option value="小店">小店</option>
			</select>
			
            <input type="image" th:src="@{/images/btn.jpg}" class="btn" />
          </div>
        </div>
        
      </div>
      <!--菜单导航-->
      <div class="topnavmenu">
        <div class="nav">
          <ul>
            <li><a href="index.html" class="on">首页</a></li>
            <li><a href="ss">新店特惠</a></li>
			<li><a href="ss">附件好券</a></li>
            <li><a href="ss">自助餐</a></li>
            <li><a href="ss">火锅</a></li>
            <li><a href="ss">小吃快餐</a></li>
            <li><a href="ss">甜点饮品</a></li>
			<li><a href="ss">预约订座</a></li>
          </ul>
        </div>
        <div class="question">
          <ul>
            <li class="li5"><a href="">小店入驻</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--底部-->
<div class="clear"></div>
<!--公告-->
<div class="notice">
  <h1>公告栏：</h1>
  <div class="txtMarquee-left">
    <div class="bd">
      <ul class="infoList">
        <li><a href="#" target="_blank">张三预约了4人桌</a><span>[08-21]</span></li>
		<li><a href="#" target="_blank">李四预约了2几人桌</a><span>[08-21]</span></li>
		<li><a href="#" target="_blank">王五预约了5几人桌</a><span>[08-21]</span></li>
      </ul>
    </div>
    <div class="hd"> <a class="next"></a> <a class="prev"></a> </div>
  </div>
  <script type="text/javascript">
		jQuery(".txtMarquee-left").slide({mainCell:".bd ul",autoPlay:true,effect:"leftMarquee",vis:2,interTime:50});
		</script>
</div>
<!--专题and图片切换-->
<div class="clear"></div>
<div class="topics">
  <!--图片切切换-->
  <div id="banner">
    <div id="ifocus">
      <div style="overflow:hidden" id="ifocus_pic">
        <div style="overflow:hidden; top: 0px; left: 0px" id="ifocus_piclist">
         <!-- 显示大图 -->
        </div>
        <div id="ifocus_opdiv"></div>
        <div id="ifocus_tx">
          <ul>
            <!--小图列表_start -->
            <li class="current">
            <li class="normal">
            <li class="normal">
            <li class="normal">
            <li class="normal">
              <!--小图列表_end -->
            </li>
          </ul>
        </div>
        <div id="ifocus_btn">
         <!-- 显示小图 -->
        </div>
      </div>
    </div>
  </div>
 </div>

<!--猜你喜欢 and 用户登录-->
<div class="column">
  <!--猜你喜欢-->
  <div class="like">
    <div class="likecolumn">
      <div class="title">
        <h1>猜你喜欢</h1>
        <h2 id="one1" onmouseover="setTab('one',1,2)" class="hover"><a href="">收藏小店</a></h2>
        <h2 id="one2" onmouseover="setTab('one',2,2)"><a href="">预约记录</a></h2>
        <div class="change"><a href="">换一组</a></div>
      </div>
      <!-- 收藏小店 -->
      <div class="likelist" id="con_one_1">
           <!-- 内容 -->
      </div>
      <!-- 预约记录 -->
      <div class="likelist" id="con_one_2" style="display:none">
           <!-- 内容 -->
      </div>
    </div>
  </div>
</div>

<!--附近美食-->
<div class="classes">
  <div class="picScroll-left">
    <div class="hd">
      <h1>附近美食</h1>
	  <div class="change"><a href="">换一组</a></div>
    </div>
    <div class="bd">
      <ul class="picList"  id="nearbyshoplist">
       <!-- 内容 -->
      </ul>
    </div>
  </div>
</div>
<!--网友推荐-->
<div class="champion">
  <div class="picScroll-left1">
    <div class="hd">
      <h1>网友推荐</h1>
      <ul>
      </ul>
    </div>
    <div class="bd">
      <ul class="picList"  id="recommendfoodlist">
        <!-- 内容 -->
      </ul>
    </div>
  </div>
  <script type="text/javascript">
		jQuery(".picScroll-left1").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,vis:4,trigger:"click"});
		</script>
</div>

<!--附近预约and最近评论-->
<div class="wenti">
 <div class="wenticolumn" style="float:left;">
    <div class="txtScroll-top">
      <div class="hd">
        <h1>附近预约</h1>
        <ul>
        </ul>
      </div>
      <div class="bd">
        <ul class="infoList"  id="nearbybooking">
          <li><span class="icon"><img th:src="@{/images/qiang.jpg}" /></span><a href="#" target="_blank">钢铁是怎样炼成的读怎样炼成的读怎样炼成的读后了我的提感400字</a><span class="jb">25</span></li>
          <li><span class="icon"><img th:src="@{/images/ji.jpg}" /></span><a href="#" target="_blank">钢铁是怎样炼成的读怎样炼成的读怎样炼成的读后了我的提感400字</a><span class="jb">25</span></li>
          <li><span class="icon"><img th:src="@{/images/arrow.jpg}" /></span><a href="#" target="_blank">钢铁是怎样炼成的读怎样炼成的读怎样炼成的读后了我的提感400字</a><span class="jb">25</span></li>
          <li><span class="icon"><img th:src="@{/images/arrow.jpg}" /></span><a href="#" target="_blank">钢铁是怎样炼成的读怎样炼成的读怎样炼成的读后了我的提感400字</a><span class="jb">25</span></li>
          <li><span class="icon"><img th:src="@{/images/arrow.jpg}" /></span><a href="#" target="_blank">钢铁是怎样炼成的读怎样炼成的读怎样炼成的读后了我的提感400字</a><span class="jb">25</span></li>
          <li><span class="icon"><img th:src="@{/images/arrow.jpg}" /></span><a href="#" target="_blank">钢铁是怎样炼成的读怎样炼成的读怎样炼成的读后了我的提感400字</a><span class="jb">25</span></li>
          <li><span class="icon"><img th:src="@{/images/arrow.jpg}" /></span><a href="#" target="_blank">钢铁是怎样炼成的读怎样炼成的读怎样炼成的读后了我的提感400字</a><span class="jb">25</span></li>
          <li><span class="icon"><img th:src="@{/images/arrow.jpg}" /></span><a href="#" target="_blank">钢铁是怎样炼成的读怎样炼成的读怎样炼成的读后了我的提感400字</a><span class="jb">25</span></li>
          <li><span class="icon"><img th:src="@{/images/arrow.jpg}" /></span><a href="#" target="_blank">钢铁是怎样炼成的读怎样炼成的读怎样炼成的读后了我的提感400字</a><span class="jb">25</span></li>
        </ul>
      </div>
    </div>
    <script type="text/javascript">
		jQuery(".txtScroll-top").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"top",autoPlay:true,vis:7});
		</script>
  </div>
  <div class="wenticolumn" style="float:right;">
    <div class="txtScroll-top">
      <div class="hd">
        <h1>最近评论</h1>
        <ul>
        
        </ul>
      </div>
      <div class="bd">
        <ul class="infoList"  id="nearbycomment">
       
          <li><span class="icon"><img th:src="@{/images/qiang.jpg}" /></span><a href="#" target="_blank">钢铁是怎样炼成的读怎样炼成的读怎样炼成的读后了我的提感400字</a><span class="jb">25</span></li>
          <li><span class="icon"><img th:src="@{/images/ji.jpg}" /></span><a href="#" target="_blank">钢铁是怎样炼成的读怎样炼成的读怎样炼成的读后了我的提感400字</a><span class="jb">25</span></li>
          <li><span class="icon"><img th:src="@{/images/arrow.jpg}" /></span><a href="#" target="_blank">钢铁是怎样炼成的读怎样炼成的读怎样炼成的读后了我的提感400字</a><span class="jb">25</span></li>
          <li><span class="icon"><img th:src="@{/images/arrow.jpg}" /></span><a href="#" target="_blank">钢铁是怎样炼成的读怎样炼成的读怎样炼成的读后了我的提感400字</a><span class="jb">25</span></li>
          <li><span class="icon"><img th:src="@{/images/arrow.jpg}" /></span><a href="#" target="_blank">钢铁是怎样炼成的读怎样炼成的读怎样炼成的读后了我的提感400字</a><span class="jb">25</span></li>
          <li><span class="icon"><img th:src="@{/images/arrow.jpg}" /></span><a href="#" target="_blank">钢铁是怎样炼成的读怎样炼成的读怎样炼成的读后了我的提感400字</a><span class="jb">25</span></li>
          <li><span class="icon"><img th:src="@{/images/arrow.jpg}" /></span><a href="#" target="_blank">钢铁是怎样炼成的读怎样炼成的读怎样炼成的读后了我的提感400字</a><span class="jb">25</span></li>
          <li><span class="icon"><img th:src="@{/images/arrow.jpg}" /></span><a href="#" target="_blank">钢铁是怎样炼成的读怎样炼成的读怎样炼成的读后了我的提感400字</a><span class="jb">25</span></li>
          <li><span class="icon"><img th:src="@{/images/arrow.jpg}" /></span><a href="#" target="_blank">钢铁是怎样炼成的读怎样炼成的读怎样炼成的读后了我的提感400字</a><span class="jb">25</span></li>
       
        </ul>
      </div>
    </div>
    <script type="text/javascript">
		jQuery(".txtScroll-top").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"top",autoPlay:true,vis:7});
		</script>
  </div>
</div>
<!--店家推荐-->
<div class="qypx">
  <div class="picScroll-left2">
    <div class="hd">
      <h1>店家推荐</h1>
	  <div class="change"><a href="">更多</a></div>
    </div>
    <div class="bd">
      <ul class="picList"  id="ShopRecommendlist">
        <!-- 内容 -->
      </ul>
    </div>
  </div>
</div>
<div class="clear"></div>
<div id="footer">
  <div class="copyright">
    <div class="Navigation"><a href="#">关于B_Booking</a><a href="#">合作伙伴</a><a href="#">营销中心</a><a href="#">廉正举报</a><a href="#">联系客服</a><a href="#">开放平台</a><a href="#">诚征英才</a><a href="#">联系我们</a><a href="#">网站地图</a><a href="#">法律声明</a></div>
    <div class="copy">Copyright © 2014 MYCLASS.C0M. All Rights Reserved. Designed by:<a href="http://www.wanhu.cn">Wanhu</a><br />
      B_Booking 版权所有B_Booking经营许可证<br />
      </div>
  </div>
</div>
<!--浮动导航-->
<DIV id=xixi onmouseover=toBig() onmouseout=toSmall()>
  <TABLE style="FLOAT: left" border=0 cellSpacing=0 cellPadding=0 width=57>
  <TR>
    <TD>
		<div class="to_top">
		  <div class="tt_hd"><a href="#" class="wcup" target="_blank"><img th:src="@{/images/nav1.jpg}"></a></div>
		  <div class="tt_cont">
		  <a href="Member.aspx?mid=0" class="mt0" target="_blank">个人中心</a>
		  <a href="#" class="mt1" target="_blank">收藏小店</a>
		  <a href="#" class="mt2" target="_blank">预约记录</a>
		  <a href="#" class="mt3" target="_blank">通知</a>
		  <a href="#" class="mt4" target="_blank">退出</a>
		  <a id="scrollto" href="#"><img th:src="@{/images/topn.jpg}" /></a> </div>
		</div>

		<script type="text/javascript">
			window.onscroll = function () {
				if (document.documentElement.scrollTop + document.body.scrollTop > 500) {
					document.getElementById("scrollto").style.display = "block";
				}
				else {
					document.getElementById("scrollto").style.display = "none";
				}
			}

		</script>

     </TD>
   </TR>
</TABLE>
<DIV class=Obtn></DIV></DIV>
<SCRIPT  th:src="@{/js/index_left_nav.js}"></SCRIPT>
<!-- ajax获取信息 -->
<script type="text/javascript" th:src="@{/js/customer/showmenu.js}"></script>
<script type="text/javascript" th:src="@{/js/index_solid.js}"></script>
<script type="text/javascript" th:src="@{/js/column.js}"></script>

<!--浮动导航-->

</body>
</html>
