<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>B_Booking-个人中心</title>
<link th:href="@{/css/whir_common.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/css/whir_grzx.css}" rel="stylesheet" type="text/css" />
<style>
    #text1,#text2,#text3,#text4{
	   cursor:pointer;
	}
</style>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/emotion.js}"></script>
<script>
   window.onload = function(){
	  document.getElementById("text1").style.color="blue";
      document.getElementById("display2").style.display="none";
	  document.getElementById("display3").style.display="none";

	  document.getElementById("right2").style.display="none";
	  document.getElementById("right3").style.display="none";
   }
</script>
</head>
<body>
<!--头部-->
<div id="header">
  <div class="top">
    <div class="topmain">
      <div class="searchbox">
        <div class="so_so">
          <div class="logo"><a href="#" title="目课网"><img th:src="@{/images/logo.jpg}" width="230px"  height="100px"></a></div>
          <div class="mk_so">
            <input type="text" class="input"  name=""/>
            <input type="image" th:src="@{/images/btn.jpg}" class="btn" />
          </div>
        </div>
        <div class="topmenu">
          
          <div class="hylist">
          </div>
		  				  <!--注册登录隐藏--->
	  <div id="pop" class="pop" style="display:none"> 
<div class="pop_head"><a href="javascript:void(0);" onclick="hideA()">关闭</a></div> 
<div class="pop_body">
<h1>用户注册</h1>
<div class="zhuce">
<input type="text" class="inputl" value="请输入真实邮箱" onFocus="this.value='';" onBlur="if(this.value==''){this.value='请输入真实邮箱';}" />
<input type="text" class="inputr" value="请输入用户名" onFocus="this.value='';" onBlur="if(this.value==''){this.value='请输入用户名';}" />
<input type="password" class="inputb" value="请输入密码" onFocus="this.value='';" onBlur="if(this.value==''){this.value='请输入密码';}" />
<div class="dlk"><a href="#" class="regist">注册</a><a href="#" class="login">返回登录</a></div>
</div>
</div> 
</div> 

<div id="pop1" class="pop1" style="display:none"> 
<div class="pop_head1"><a href="javascript:void(expression);" onclick="hideB()">关闭</a></div> 
<div class="pop_body1">
<h1>用户登陆</h1>
<div class="zhuce">
<input type="text" class="inputr" value="请输入用户名"  onFocus="this.value='';" onBlur="if(this.value==''){this.value='请输入用户名';}"/>
<input type="password" class="inputb" value="请输入密码" onFocus="this.value='';" onBlur="if(this.value==''){this.value='请输入密码';}" />
<div class="dlk"><a href="#" class="regist">登陆</a><a href="#" class="login">注册</a></div>
</div>
</div> 
</div>

        </div>
      </div>
      <!--菜单导航-->
      <div class="topnavmenu">
        <div class="nav">
          <ul>
            <li><a href="index" class="on">首页</a></li>
            <li><a href="ss">新店特惠</a></li>
			<li><a href="ss">附件好券</a></li>
            <li><a href="ss">自助餐</a></li>
            <li><a href="ss">火锅</a></li>
            <li><a href="ss">小吃快餐</a></li>
            <li><a href="ss">甜点饮品</a></li>
			<li><a href="ss">预约订座</a></li>
          </ul>
        </div>
      
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>
<!--container-->
<div class="subbox">
  <!--左侧部分-->
  <div class="left180">
    <div class="grtx">
      <div class="grimg"><img th:src="@{/images/662fda3e374751934e10953d99e0265e4384.jpg}" /></div>
      <div class="grname"><a href="#">王老师</a></div>
    </div>
    <ul class="menu1">
      <li class="on"><a onclick="return click_a('divOne_1')" style="cursor:pointer;"><em id="div_one">个人中心</em></a></li>
      <div class="menu1_sub" id="divOne_1" style="display:block;">
         <p><a   id="text1" >个人资料</a></p>
         <p><a  id="text2">收藏小店</a></p>
      </div>
    </ul>
	<!--关闭上面菜单-->
    <script  type="text/javascript">
	    
        function click_a(divDisplay)
        {
            if(document.getElementById(divDisplay).style.display != "block")
            {
                document.getElementById(divDisplay).style.display = "block";
            }
            else
            {
                document.getElementById(divDisplay).style.display = "none";
            }
        }
    </script>
    
    <ul class="menu5">
	  <li class="on"><a onclick="return click_b('divOne_2')" style="cursor:pointer;"><em id="div_one">预约订座</em></a></li>
      <div class="menu1_sub" id="divOne_2" style="display:block;">
         <p><a  id="text3">预约管理</a></p>
        <p><a   id="text4" >评论管理</a></p>
      </div>
    </ul>
	<!--关闭上面菜单-->
	<script language="javascript" type="text/javascript">
        function click_b(divDisplay)
        {
            if(document.getElementById(divDisplay).style.display != "block")
            {
                document.getElementById(divDisplay).style.display = "block";
            }
            else
            {
                document.getElementById(divDisplay).style.display = "none";
            }
        }
    </script>
	<script language="javascript" type="text/javascript">
	      
		$("#text1").click(function(){
			    for(var i=1;i<=4;i++){
				   if(i==1){
				      document.getElementById("text"+i).style.color="blue";
				   }else{
				      document.getElementById("text"+i).style.color="";
				   }
				}
			    
			    document.getElementById("right1").style.display="";
				document.getElementById("right2").style.display="none";
				document.getElementById("right3").style.display="none";
				

		});
		$("#text2").click(function(){
			    for(var i=1;i<=4;i++){
				   if(i==2){
				      document.getElementById("text"+i).style.color="blue";
				   }else{
				      document.getElementById("text"+i).style.color="";
				   }
				}
			    document.getElementById("right1").style.display="none";
				document.getElementById("right2").style.display="";
				document.getElementById("right3").style.display="none";
				

		});
		$("#text3").click(function(){
			    for(var i=1;i<=4;i++){
				   if(i==3){
				      document.getElementById("text"+i).style.color="blue";
				   }else{
				      document.getElementById("text"+i).style.color="";
				   }
				}
			    document.getElementById("right1").style.display="none";
				document.getElementById("right2").style.display="";
				document.getElementById("right3").style.display="none";
				

		});
		$("#text4").click(function(){
			    for(var i=1;i<=4;i++){
				   if(i==4){
				      document.getElementById("text"+i).style.color="blue";
				   }else{
				      document.getElementById("text"+i).style.color="";
				   }
				}
			    document.getElementById("right1").style.display="none";
				document.getElementById("right2").style.display="";
				document.getElementById("right3").style.display="none";
				

		});
	
	 </script>
  </div>
  <!--右侧部分-->
  <!--个人资料-->

  <div id="right1">
  <div class="right840">
    <div class="title6">
      <h1><a href="javascript:void();" id="displaya1"  class="on">信息完善</a></h1>
      <h1><a href="javascript:void();" id="displaya2">修改头像</a></h1>
      <h1><a href="javascript:void();" id="displaya3">账户安全</a></h1>
    </div>
    <div class="display">
	 <div id="display1">
      <table width="840" height="900" align="center" cellspacing="0" cellpadding="0" class="tab">
        <tr>
          <td><font class="f_red">*</font>&nbsp;&nbsp;&nbsp;<b>用户名:</b></td>
          <td>&nbsp;&nbsp;&nbsp;afsdfds@163.com &nbsp;&nbsp;&nbsp;<a href="#">[修改]</a></td>
        </tr>
        <tr>
          <td><font class="f_red">*</font>&nbsp;&nbsp;&nbsp;<b>邮 箱:</b></td>
          <td>&nbsp;&nbsp;&nbsp;afsdfds@163.com &nbsp;&nbsp;&nbsp;<a href="#">[修改]</a></td>
        </tr>
        <tr>
          <td><font class="f_red">*</font>&nbsp;&nbsp;&nbsp;<b>手 机:</b></td>
          <td>&nbsp;&nbsp;&nbsp;
            <input type="text" class="input1"  name=""/>
            &nbsp;&nbsp;&nbsp;<font class="f_red">*</font>&nbsp;&nbsp;&nbsp;<font class="f_black">请输入数字</font></td>
        </tr>
        <tr>
          <td><font class="f_red">*</font>&nbsp;&nbsp;&nbsp;<b>QQ号:</b></td>
          <td>&nbsp;&nbsp;&nbsp;
            <input type="text" class="input1"  name=""/>
            &nbsp;&nbsp;&nbsp;<font class="f_red">*</font>&nbsp;&nbsp;&nbsp;<font class="f_black">请输入数字</font></td>
        </tr>
        <tr>
          <td><font class="f_red">*</font>&nbsp;&nbsp;&nbsp;<b>教育程度:</b></td>
          <td>&nbsp;&nbsp;&nbsp;
            <input type="text" class="input1"  name=""/>
            &nbsp;&nbsp;&nbsp;<font class="f_red">*</font>&nbsp;&nbsp;&nbsp;<font class="f_black">请输入数字</font></td>
        </tr>
        <tr>
          <td><font class="f_red">*</font>&nbsp;&nbsp;&nbsp;<b>熟练语言:</b></td>
          <td>&nbsp;&nbsp;&nbsp;
            <input type="text" class="input1"  name=""/>
            &nbsp;&nbsp;&nbsp;<font class="f_red">*</font>&nbsp;&nbsp;&nbsp;<font class="f_black">请输入数字</font></td>
        </tr>
        <tr>
          <td>&nbsp;&nbsp;&nbsp;<b>兴趣爱好:</b></td>
          <td>&nbsp;&nbsp;&nbsp;
            <textarea name="textarea" class="input4" style="width:430px; height:130px;"></textarea></td>
        </tr>
        <tr>
          <td>&nbsp;&nbsp;&nbsp;<b>个人介绍:</b></td>
          <td>&nbsp;&nbsp;&nbsp;
            <textarea name="textarea" class="input4" style="width:430px; height:130px;"></textarea></td>
        </tr>
        <tr>
          <td><font class="f_red">*</font>&nbsp;&nbsp;&nbsp;<b>性别:</b></td>
          <td>&nbsp;&nbsp;&nbsp;
            <input type="radio" />
            男
            <input type="radio" />
            女</td>
        </tr>
        <tr>
          <td><font class="f_red">*</font>&nbsp;&nbsp;&nbsp;<b>所在地:</b></td>
          <td>&nbsp;&nbsp;&nbsp;
            <select class="input5">
              <option>选择省份</option>
            </select>
            &nbsp;
            <select class="input5">
              <option>选择市</option>
            </select>
            &nbsp;
            <select class="input5">
              <option>选择区/县</option>
            </select></td>
        </tr>
        <td><font class="f_red">*</font>&nbsp;&nbsp;&nbsp;<b>出生日期:</b></td>
          <td>&nbsp;&nbsp;&nbsp;
            <select class="input5">
              <option>选择年份</option>
            </select>
            &nbsp;
            <select class="input5">
              <option>选择月份</option>
            </select>
            &nbsp;
            <select class="input5">
              <option>选择日期</option>
            </select></td>
        </tr>
        <tr>
          <td></td>
          <td colspan="2">&nbsp;&nbsp;&nbsp;
            <input type="submit" value="保存信息" class="btn1" />
            &nbsp;&nbsp;&nbsp;
            <input  type="reset" value="取消" class="btn4" /></td>
        </tr>
      </table>
	 </div>
    <div id="display2">
	 <img th:src="@{/images/grzx/xgpic.jpg}" />
	</div>
	<div id="display3">
		      <table width="840" height="400" align="center" cellspacing="0" cellpadding="0" class="tab">
				 <tr><td colspan="2"><font class="f_black">您可以修改您的账户密码。下次登录请使用新密码</font></td></tr>
				 <tr>
				 <td>&nbsp;&nbsp;&nbsp;<b>当前密码:</b></td><td>&nbsp;&nbsp;&nbsp;<input type="password" class="input1"  name=""/></td>
				 </tr>
				 <tr>
				 <td>&nbsp;&nbsp;&nbsp;<b>新密码:</b></td><td>&nbsp;&nbsp;&nbsp;<input type="password" class="input1"  name=""/>&nbsp;&nbsp;&nbsp;<font class="f_black">6-20位，区分大小写，只能使用字母，数字</font></td>
				 </tr>
				  <tr>
				 <td></td><td>&nbsp;&nbsp;&nbsp;&nbsp;密码强度：&nbsp;&nbsp;弱&nbsp;&nbsp;<img th:src="@{/images/grzx/password.jpg}" />&nbsp;&nbsp;强</td>
				 </tr>
				<tr>
				 <td>&nbsp;&nbsp;&nbsp;<b>确认新密码:</b></td><td>&nbsp;&nbsp;&nbsp;<input type="password" class="input1"  name=""/>&nbsp;&nbsp;&nbsp;<font class="f_black">6-20位，区分大小写，只能使用字母，数字</font></td>
				 </tr>

					<tr>
				  <td>&nbsp;&nbsp;&nbsp;<b>验证码:</b></td><td>&nbsp;&nbsp;&nbsp;<input type="text" class="input4" style="width:100px; height:35px;" />&nbsp;&nbsp;&nbsp;<a href="#">看不清切换一下</a></td>
				 </tr>
				 <tr><td></td><td>&nbsp;&nbsp;&nbsp;<img th:src="@{/images/grzx/yzm.jpg}" /></td></tr>

				 <tr><td></td><td colspan="2">&nbsp;&nbsp;&nbsp;<input type="submit" value="保存密码" class="btn1" />&nbsp;&nbsp;&nbsp;<input  type="reset" value="取消" class="btn4" /></td></tr>
				 </table>
	 </div>
	 <script language="javascript" type="text/javascript">
	        $("#displaya1").click(function(){
				$("#displaya2").attr('class', '')//display3
				$("#displaya3").attr('class', '')
				document.getElementById("display1").style.display="";
				document.getElementById("display2").style.display="none";
				document.getElementById("display3").style.display="none";
				$(this).attr('class', 'on')

			});
			$("#displaya2").click(function(){
				$("#displaya1").attr('class', '')
				$("#displaya3").attr('class', '')
				document.getElementById("display1").style.display="none";
				document.getElementById("display2").style.display="";
				document.getElementById("display3").style.display="none";
				$(this).attr('class', 'on')
			});
			$("#displaya3").click(function(){
				$("#displaya1").attr('class', '')
				$("#displaya2").attr('class', '')
				document.getElementById("display1").style.display="none";
				document.getElementById("display2").style.display="none";
				document.getElementById("display3").style.display="";
				$(this).attr('class', 'on')

			});
	 
	 </script>
    </div>
  </div>
</div>
</div>

<!--列表-->
<div id="right2">
<div class="right840">
    <div class="title7">
      <h1>心情日志</h1>
      <div class="nysearchbox">
        <input type="text" value="搜索日志" onFocus="this.value='';" onBlur="if(this.value==''){this.value='搜索日志';}" name="" class="input6"/>
        <input type="image" th:src="@{/images/grzx/btn4.jpg}" class="btn5" />
      </div>
    </div>
    <div class="biji">
      <div class="bijicz">
        <div class="rizhi"><a href="#">写日志</a></div>
        <div class="bjsc"><img th:src="@{/images/grzx/bjsc.jpg}" /><a href="#">删除</a></div>
        <div class="bjpage">
          <div class="page1"><span class="prev">上一页</span><span class="num"><a href="#" class="on">1</a><a href="#">2</a></span><span class="next"><a href="#">下一页</a></span> </div>
        </div>
      </div>
    </div>
    <!--日志信息-->
    <div class="sptitle">
      <div class="wdrzxx">
        <input type="checkbox" class="input11" />
        日志信息</div>
	  <div class="wdrzzt">浏览数</div>
	  <div class="wdrzzt">评论数</div>
      <div class="wdrzpx"><font class="f_black">排序：</font>发布时间&nbsp;<img th:src="@{/images/grzx/bjpx.jpg}" /></div>
      <div class="wdrzcz">操作</div>
    </div>
    <ul class="rzlist">
	<li><span class="pxcz"><input type="checkbox" class="input12" /></span><span class="bjxg"><a href="#">京商商贸城精品百货区招商推介会盛大举行……</a></span><span class="rzfl">200</span><span class="rzfl">300</span><span class="bjdate">2014-08-08</span><span class="czbj"><a href="#">编辑</a></span></li>
	<li><span class="pxcz"><input type="checkbox" class="input12" /></span><span class="bjxg"><a href="#">京商商贸城精品百货区招商推介会盛大举行……</a></span><span class="rzfl">200</span><span class="rzfl">300</span><span class="bjdate">2014-08-08</span><span class="czbj"><a href="#">编辑</a></span></li>
	<li><span class="pxcz"><input type="checkbox" class="input12" /></span><span class="bjxg"><a href="#">京商商贸城精品百货区招商推介会盛大举行……</a></span><span class="rzfl">200</span><span class="rzfl">300</span><span class="bjdate">2014-08-08</span><span class="czbj"><a href="#">编辑</a></span></li>
	<li><span class="pxcz"><input type="checkbox" class="input12" /></span><span class="bjxg"><a href="#">京商商贸城精品百货区招商推介会盛大举行……</a></span><span class="rzfl">200</span><span class="rzfl">300</span><span class="bjdate">2014-08-08</span><span class="czbj"><a href="#">编辑</a></span></li>
	<li><span class="pxcz"><input type="checkbox" class="input12" /></span><span class="bjxg"><a href="#">京商商贸城精品百货区招商推介会盛大举行……</a></span><span class="rzfl">200</span><span class="rzfl">300</span><span class="bjdate">2014-08-08</span><span class="czbj"><a href="#">编辑</a></span></li>
	</ul>
  </div>
</div>
</div>
  <div id="right3">
  <div class="right840">
    <div class="title7">
      <h1>心情日志</h1>
      <div class="nysearchbox">
        <input type="text" value="搜索日志" onFocus="this.value='';" onBlur="if(this.value==''){this.value='搜索日志';}" name="" class="input6"/>
        <input type="image" th:src="@{/images/grzx/btn4.jpg}" class="btn5" />
      </div>
    </div>
    <!--日志信息-->
    <div class="div_mid">
      <div class="state" id = "mood_statusinput">
        <div id="editdiv" contentEditable="true" style="height:95px;overflow:hidden;word-wrap: break-word;">发表一下....</div>
      </div>
      <div class="state_fb"> <a id="face" href="javascript:void(0);" onclick="emotion(this.id,'editdiv',event)"><i></i></a>您还可输入<span class='msg'>200</span>个字符
        <input id="mood_add" name="add" class="btn3" type="button" value="发表信息">
      </div>
    </div>
    <script type="text/javascript">
	$("#editdiv").bind({
			  focus:function(){
				  var text = $(this).text();
				  if(text === "发表一下...."){
					  $(this).text('');
				  }
			  },
			  keyup:countText
	});
	</script>
    <div class="modhf">
      <!--发表人图像-->
      <div class="xqphoto"><a href="#"><img th:src="@{/images/grzx/xqimg.jpg}" width="48" height="49" /></a></div>
      <div class="shuoshuo">
        <div><img src="images/grzx/xt.jpg" /></div>
        <span class="lefticon"><img th:src="@{/images/grzx/xql.jpg}" /></span>
        <div class="xqcon">
          <!--发表信息-->
          <div class="fbxx">
            <!--信息内容-->
            <div class="xxcon"> <span><a href="#">王老师</a></span><span>艺术馆-安徽慕界网络科技有限公司成功上线好开心……艺术馆-安徽慕界网络科技有限公司成功上线好开心艺术馆-安徽慕界网络科技有限公司成功上线好开心艺术馆-安徽慕界网络科技有限公司成功上线好开心</span> </div>
            <!--发表日期-->
            <div class="xxinfo"><span class="date">昨天：12:00</span><span class="xxpls">评论数（20）</span></div>
          </div>
          <!--回复信息-->
          <div class="xqhf">
            <!--回复内容-->
            <div class="hfcon">
              <!--回复人图像-->
              <div class="hfphoto"><a href="#"><img th:src="@{/images/grzx/xqimg.jpg}" width="35" height="35" /></a></div>
              <!--回复内容-->
              <div class="hfcontent"> <span><a href="#">王老师</a></span><span>恭喜 恭喜……</span> </div>
              <!--内容操作-->
              <div class="nrcz"><span class="hfsj">2014-09-09</span><span><a href="#">回复</a><a href="#">删除</a></span><span class="hfxq"><img th:src="@{/images/grzx/xq1.jpg}" /></span></div>
            </div>
            <!--发表信息表单-->
            <div class="fbform">
              <input type="text" class="input15"  value="我也来说一句..." onFocus="this.value='';" onBlur="if(this.value==''){this.value='我也来说一句...';}"/>
              <a href="#">发表</a></div>
          </div>
        </div>
        <div><img th:src="@{/images/grzx/xb.jpg}" /></div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="clear"></div>
<div id="footer">

  <div class="copyright">
    <div class="Navigation"><a href="#">关于目课</a><a href="#">合作伙伴</a><a href="#">营销中心</a><a href="#">廉正举报</a><a href="#">联系客服</a><a href="#">开放平台</a><a href="#">诚征英才</a><a href="#">联系我们</a><a href="#">网站地图</a><a href="#">法律声明</a></div>
    <div class="copy">Copyright © 2014 MYCLASS.C0M. All Rights Reserved. Designed by:<a href="http://www.wanhu.cn">Wanhu</a><br />
      目课网 版权所有 目课网经营许可证<br />
      <font class="f_red">当前在线人数：<b>154588</b> 人</font></div>
  </div>
</div>
</body>
</html>
