<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chenlove.mapper.ShopMapper">
  <resultMap id="BaseResultMap" type="cn.chenlove.model.Shop">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
    <result column="introduction" jdbcType="LONGVARCHAR" property="introduction" />
  </resultMap>
</mapper>